* {
    margin: 0;
    padding: 0;
}

.container {
    /* margin-left: 200px; */
    margin-right: 60px;
    /* background-color: red; */
}

.header {
   display: flex;
    /* justify-content: center; */
    padding: 30px 30px;
}
 
.logo {
    float: left;
}
.header-heading{
    /* display: flex; */
    
    width: 100%;
    /* flex-direction: column; */
    align-items: center;
    text-align: center;
    /* justify-content: center; */
}

.info {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 30px;
    margin-top: 50px;
    width: 550px
}
/* .info1 {
    float: left;
    margin-right: 50px;
    font-family: sans-serif;
    font-weight: 600;
    margin: 5px 0px;
    float: left;
}

.info2 {
    float: left;
    margin-right: 50px;
}
.info3 {
    float: left;
    margin-right: 50px;
} */
.values {
    display: flex;
    flex-direction: column;
}

.info-labels {
    float: left;
    margin-right: 10px;
}

.info-values {
    font-family: sans-serif;
    /* font-weight: 600; */
    
    margin: 3px 0px;
}

table {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}
.products {
    background-color:cadetblue;
    color: white
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr {
    text-align: center;
}

.expense {
    background-color: rgb(231, 154, 154);
}

.recovery {
    background-color: rgb(156, 226, 156);
}

.stamp {
    position: absolute;
    right: 100px;
    font-weight: 600;
    margin-top: 50px;
    text-align: center;
}